VITE_SHELTER_SERVICE_URL=http://localhost:8082
VITE_VOLUNTEER_SERVICE_URL=http://localhost:8081
VITE_VICTIM_SERVICE_URL=http://localhost:8085
VITE_RESOURCE_SERVICE_URL=http://localhost:8083
VITE_REPORTING_SERVICE_URL=http://localhost:8084
